<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhuabu.source.dao.AdminManagerMapper">

    <select id="getListedAdmin" resultType="com.xhuabu.source.model.vo.ListedAdminVO">
        SELECT
        admin.id AS id,
        admin.username AS userName,
        admin.phone AS phone,
        admin.nick_name AS nickName,
        groups.name AS groupName,
        admin.status AS status,
        admin.last_time AS lastTime
        FROM admin
        LEFT JOIN admin_group ON admin.id = admin_group.admin_id
        left JOIN groups ON admin_group.group_id = groups.id
        ORDER BY admin.create_time DESC
    </select>

    <select id="getAdminById" resultType="com.xhuabu.source.model.vo.ListedAdminVO">
        SELECT
        admin.id AS id,
        admin.username AS userName,
        admin.phone AS phone,
        admin.nick_name AS nickName,
        groups.name AS groupName,
        admin.status AS status,
        admin.last_time AS lastTime
        FROM admin
        LEFT JOIN admin_group ON admin.id = admin_group.admin_id
        left JOIN groups ON admin_group.group_id = groups.id
        WHERE admin.id = #{id}
    </select>

    <select id="getGroupDetailById" resultType="com.xhuabu.source.model.vo.GroupDetailVO">
        SELECT
        groups.id AS id,
        groups.name AS name,
        groups.create_time AS createTime,
        groups.`comment` AS comment,
        admin.nick_name AS nickName,
        admin.username AS userName
        FROM
        groups
        LEFT JOIN admins ON groups.create_admin_id = admins.id
        WHERE groups.id = #{id}
    </select>

    <select id="getListedAdminGroup" resultType="com.xhuabu.source.model.vo.ListedAdminGroupVO">
        SELECT
        admin.id AS adminId,
        admin_group.id AS adminGroupId,
        admin.nick_name AS nickName,
        admin.username AS userName,
        admin.`status` AS status,
        admin.update_time AS updateTime
        FROM
        admin
        LEFT JOIN admin_group ON admin.id = admin_group.admin_id
        LEFT JOIN groups ON groups.id = admin_group.group_id
        WHERE groups.id = #{id}
    </select>
</mapper>
